<div id="<%= dom_id book %>">

  <% book.categories.each do |category| %> 
    <div>
      <%= category.name%> 
    </div>
  <% end %>

  <p>
    <strong>Title:</strong>
    <%= book.title %>
  </p>

  <p>
    <strong>Summary:</strong>
    <%= book.summary %>
  </p>

  <p>
    <strong>Published date:</strong>
    <%= book.published_date %>
  </p>

  <p>
    <strong>Image path:</strong>
    <% if book.image_path %> 
      <%= image_tag book.image_path %>
    <% end %>
  </p>

</div>
